{% load static %}
<section id="about-me" data-section="about-me" class="about-me-section">
        <div class="container-box-about-me">
                <div class="text-section-about-me">
                        <div class="text-block top-block">
                                <p class="text-about-me-h1">Обо мне</p>
                                <p style="font-size: 1.3rem;">Привет! Я Диана — клинический психолог, специалист по когнитивно-поведенческой терапии (КПТ).</p>
                        </div>
                        <div class="text-block bottom-block">
                                <p >Работаю научно-доказательными методами, которые действительно помогают. Уже 3 года поддерживаю людей в борьбе с тревогой, апатией и прокрастинацией — чтобы жизнь стала осознаннее, легче и продуктивнее.</p>
                                <p >Мой подход — это не просто разговоры, а конкретные инструменты для изменений. Проверено наукой, подтверждено практикой.</p>
                        </div>
                </div>
                <div class="image-section-about-me">
                        <div class="photo-placeholder">
                                <img src="{% static 'img/about_me.jpg' %}" alt="img">
                        </div>
                </div>

        </div>
</section>