{% load static %}
<div class="image-text-section">
  <div class="background-image">
    <img src="{% static 'img/123.jpg' %}" alt="Фоновое изображение" class="bg-img">
  </div>
  <div class="text-overlay">
    <p class="help-text">
        Если ваш запрос не в списке — <br>
        все равно напишите. Вместе определим, <br>
        смогу ли я помочь.<br>
    </p>
     <a href="https://t.me/sitdipsy" target="_blank" class="button-link">
            <button class="button-help">
                Написать
            </button>
     </a>
  </div>
</div>