/*  Переменные и цвета */
:root {

/*  Базовые цвета   */
    --bg-color: #EDE1D2; /* Основной фон страницы */
    --bg-secondary: #CBB89D; /* Второстепенный фон для секций */

/*  Цвета текста    */
    --text-color: #2D2018; /* Цвет основного текста был: #000*/
    --text-color-light: #806044; /* Более светлый оттенок цвета текста был: #333*/
    --text-color-lighter: #8f944C; /* Метки, неактивный текст */
    --text-bt-color: #D4CDBD;


/*  Главные акценты  */
    --olive-green: #76805D;  /* Оливково-зеленый */
    --organic : #6A6F4C;     /* темно оливковый цвет*/
    --accent-secondary: #CC7C72;  /* Терракотовый - для важных действий, цены */


/*  Второстепенные цвета    */
    --accent-brown: #5D2510;      /* Для кнопок "Записаться", цен */
    --accent-light: #C7D2AB;      /* Светлый оливковый для подсветки */



/* ГРАНИЦЫ И РАЗДЕЛИТЕЛИ */
    --border-color: #D4CDBD;      /* Основной цвет границ */
    --border-color-dark: #B9AF5F; /* Для акцентных границ */
    --accent-line: var(--text-color-light);  /* Для акцентных линий */


/*  Специальные цвета */
    --menu-bg: #f8f8f8; /* Фон меню или навигационной панели */
    --overlay-color: rgba(0,0,0,0.5); /* Полупрозрачный чёрный слой для наложений */
    --mobile-menu-width: 70%; /* Ширина мобильного меню */
    --transition: 0.3s ease-in-out; /* Переход анимации элементов */
    --telegram-color: #2AABEE; /* Официальный цвет Telegram */
    --instagram-color: #E1306C; /* Официальный цвет Instagram */




/*  */
    --accent-primary: #888E8F; /* Спокойный серо-голубой - основной акцент */
    --price-color: #5D2510;
    --hover-shadow: rgba(106, 111, 76, 0.3); /* тень при наведении */
    --list-border: var(--organic);
}